/*************************************** 
            Gloabl Styles
  **************************************/
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem;
}

main {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  margin-bottom: 20vh;
}

img {
  width: 100%;
}

.bg-primary {
  background-color: #563d7c !important;
}

.txt-white {
  color: #fff !important;
}

.txt-black {
  color: #2c2929 !important;
}

/************************************** 
            Buttons
**************************************/
.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  background-color: #ada2bd;
}

.btn-primary {
  background-color: #563d7c;
}

.btn-important {
  background-color: #f57b00;
  white-space: nowrap;
  display: block;
  padding: 0.1rem 1rem !important;
}

.btn-important:hover {
  background-color: #d17a23;
  color: #f3f3f3;
}

.btn-block {
  display: block;
}

.btn-globe {
  display: inline-block;
  padding: 0.3rem 1rem;
  border: 3px solid #007cae;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
  margin-top: 0.5rem;
  color: #196a8a;
}

.btn-globe:hover {
  background-color: #007cae;
  color: #f3f3f3;
}

.animate-fold {
  -webkit-animation: fold 1000ms linear both;
          animation: fold 1000ms linear both;
}

@-webkit-keyframes fold {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
  }
  3.8% {
    -webkit-transform: matrix3d(0.246, 0, 0, 0, 0, 0.246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.246, 0, 0, 0, 0, 0.246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.1;
  }
  4.3% {
    -webkit-transform: matrix3d(0.306, 0, 0, 0, 0, 0.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.306, 0, 0, 0, 0, 0.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.2;
  }
  5.71% {
    -webkit-transform: matrix3d(0.483, 0, 0, 0, 0, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.483, 0, 0, 0, 0, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.3;
  }
  7.56% {
    -webkit-transform: matrix3d(0.712, 0, 0, 0, 0, 0.712, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.712, 0, 0, 0, 0, 0.712, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.4;
  }
  8.61% {
    -webkit-transform: matrix3d(0.827, 0, 0, 0, 0, 0.827, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.827, 0, 0, 0, 0, 0.827, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.5;
  }
  9.46% {
    -webkit-transform: matrix3d(0.908, 0, 0, 0, 0, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.908, 0, 0, 0, 0, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.6;
  }
  11.36% {
    -webkit-transform: matrix3d(1.047, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.047, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.7;
  }
  12.91% {
    -webkit-transform: matrix3d(1.118, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.118, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.8;
  }
  15.12% {
    -webkit-transform: matrix3d(1.164, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.164, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.9;
  }
  17.22% {
    -webkit-transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
  25.13% {
    -webkit-transform: matrix3d(1.059, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.059, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.14% {
    -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes fold {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
  }
  3.8% {
    -webkit-transform: matrix3d(0.246, 0, 0, 0, 0, 0.246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.246, 0, 0, 0, 0, 0.246, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.1;
  }
  4.3% {
    -webkit-transform: matrix3d(0.306, 0, 0, 0, 0, 0.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.306, 0, 0, 0, 0, 0.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.2;
  }
  5.71% {
    -webkit-transform: matrix3d(0.483, 0, 0, 0, 0, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.483, 0, 0, 0, 0, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.3;
  }
  7.56% {
    -webkit-transform: matrix3d(0.712, 0, 0, 0, 0, 0.712, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.712, 0, 0, 0, 0, 0.712, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.4;
  }
  8.61% {
    -webkit-transform: matrix3d(0.827, 0, 0, 0, 0, 0.827, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.827, 0, 0, 0, 0, 0.827, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.5;
  }
  9.46% {
    -webkit-transform: matrix3d(0.908, 0, 0, 0, 0, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.908, 0, 0, 0, 0, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.6;
  }
  11.36% {
    -webkit-transform: matrix3d(1.047, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.047, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.7;
  }
  12.91% {
    -webkit-transform: matrix3d(1.118, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.118, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.8;
  }
  15.12% {
    -webkit-transform: matrix3d(1.164, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.164, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.9;
  }
  17.22% {
    -webkit-transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.166, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
  25.13% {
    -webkit-transform: matrix3d(1.059, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.059, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.14% {
    -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  height: 100%;
}

/************************************** 
            navbar_container
**************************************/
.navbar_container {
  background: #007cae;
  padding: 0rem 1rem;
  height: 50px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  z-index: 9;
  -webkit-box-shadow: 0 0px 1px #f3f3f3;
          box-shadow: 0 0px 1px #f3f3f3;
}

.fixed_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: inherit;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .logo img {
  width: 40px;
}

.navbar .logo a {
  color: #f3f3f3;
}

.navbar nav .navbar_list {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 0vw;
  min-height: calc(100vh - 50px);
  background-color: #f3f3f3;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  text-align: center;
  list-style-type: none;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.navbar nav .navbar_list li:hover a {
  color: #0a0a0a;
}

.navbar nav .navbar_list li.active {
  background-color: #dedede;
}

.navbar nav .navbar_list li.active a {
  color: #0a0a0a;
}

.navbar nav .navbar_list a {
  color: #111111;
  line-height: 50px;
  padding: 1.25rem 0;
  white-space: nowrap;
}

.navbar nav .navbar_list .dropdown .dropdown_list a {
  color: #0a0a0a;
  line-height: 40px;
}

.navbar nav .navbar_list .dropdown .dropdown_list li:hover {
  background-color: #f8f9fa;
}

.navbar nav .toggle_navbar {
  width: 50vw;
}

.nav_toggler {
  position: absolute;
  /* border: 1px solid red; */
  left: 0.75rem;
  top: 0.75rem;
  cursor: pointer;
  padding: 17px 36px 19px 5px;
  -webkit-box-shadow: inset 1px 1px 2px #a6a0af;
          box-shadow: inset 1px 1px 2px #a6a0af;
  border-radius: 3px;
}

.nav_toggler span,
.nav_toggler span:before,
.nav_toggler span:after {
  cursor: pointer;
  border-radius: 1rem;
  height: 4px;
  width: 32px;
  background: #f3f3f3;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav_toggler span:before {
  top: -10px;
  background-color: #ffffff;
}

.nav_toggler span:after {
  bottom: -10px;
  background-color: #ffffff;
}

.nav_toggler.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav_toggler.active span {
  width: 22px;
}

.nav_toggler.active span:before {
  -webkit-transform: rotate(-45deg) translate(-7px, 0px);
          transform: rotate(-45deg) translate(-7px, 0px);
  width: 16px;
}

.nav_toggler.active span:after {
  -webkit-transform: rotate(45deg) translate(-7px, 0px);
          transform: rotate(45deg) translate(-7px, 0px);
  width: 16px;
}

/******************************* 
        Nav Dropdowns
*******************************/
.dropdown {
  position: relative;
  overflow: hidden;
}

.dropdown .dropdown_list {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  max-height: 0;
  background-color: #ffffff;
  list-style: none;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 1px 2px #77e;
          box-shadow: 0px 1px 2px #77e;
  margin-bottom: 1px;
}

.dropdown .show_dropdown {
  max-height: 350px;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

.showcase .showcase_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.showcase .showcase_inner .showcase_title {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 7vw;
  color: #196a8a;
  line-height: 1.3;
}

.showcase .showcase_inner .showcase_desc {
  font-family: Montserrat, Arial;
  font-size: 5vw;
  line-height: 1.5;
}

.showcase .showcase_inner img {
  display: block;
  margin: 0 auto;
}

.showcase .showcase_inner .btn-group {
  position: relative;
  margin: 0.2rem auto;
  margin-bottom: -3rem;
}

.showcase .showcase_inner .btn-group .btn {
  width: 70%;
}

@media screen and (min-width: 600px) and (max-width: 769px) {
  .showcase .showcase_inner .showcase_title {
    font-size: 5vw;
  }
  .showcase .showcase_inner .showcase_desc {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) {
  .showcase .showcase_inner {
    margin-top: 10vh;
  }
  .showcase .showcase_inner .showcase_title {
    font-family: Rajdhani, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
  }
  .showcase .showcase_inner .showcase_desc {
    font-family: "Montserrat", Arial;
    font-size: 1.5rem;
  }
  .showcase .showcase_inner img {
    display: block;
    max-width: 612px;
    margin: 0 auto;
  }
  .showcase .showcase_inner .btn-group {
    width: 80%;
    margin: 1rem auto;
  }
  .showcase .showcase_inner .btn-group .btn {
    width: auto;
    width: 20%;
    margin-left: 0.25rem;
  }
}

/***********************************
    skill sets => about
 ***********************************/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007cae;
  padding: 15vh 1rem;
  padding-top: 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #f3f3f3;
}

.about_inner {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

.about_inner .about_title {
  font-size: 7vw;
  line-height: 1.5;
}

.about_inner .about_content {
  margin: 0;
  font-size: 5vw;
  color: #ebe1e1;
  text-align: left;
}

/***********************************
    skill sets => skills
 ***********************************/
#skills {
  position: relative;
  top: -15vh;
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 2rem 0.7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

#skills ul {
  list-style-type: none;
}

#skills ul li {
  font-size: 4.5vw;
  font-weight: 500;
  line-height: 1.75;
}

#skills .col {
  padding: 2rem 0.7rem;
  border-bottom: 1px solid #ccc;
}

#skills .col .fa-container {
  font-size: 15vw;
  text-align: center;
  color: #196a8a;
}

#skills .col .title {
  font-family: "Rajdhani", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #196a8a;
  font-size: 2rem;
}

#skills .col p {
  font-size: 5vw;
  font-weight: 500;
}

#skills .col .tools {
  color: #007cae;
  font-family: "Rajdhani", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 7vw;
}

#skills .col:last-child {
  border-bottom: none;
}

/***********************************
            Computer Screens
 ***********************************/
@media screen and (min-width: 600px) and (max-width: 769px) {
  .about_inner .about_title {
    font-size: 5vw;
  }
  .about_inner .about_content {
    font-size: 3vw;
    text-align: justify;
  }
  #skills ul li {
    font-size: 3vw;
  }
  #skills .col .fa-container {
    font-size: 10vw;
  }
  #skills .col .tools {
    font-size: 4vw;
  }
  #skills .col p {
    font-size: 3vw;
  }
}

@media screen and (min-width: 769px) {
  .about {
    padding: 5vh 1rem;
    padding-bottom: 15vh;
  }
  .about_inner {
    width: 50%;
    margin: 0 auto;
  }
  .about_inner .about_title {
    font-size: 3vw;
    margin: 0 !important;
  }
  .about_inner .about_content {
    font-size: 1.5vw;
  }
  #skills {
    top: -12vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #skills ul li {
    font-size: 1.1vw;
  }
  #skills .col {
    border-bottom: 1px solid transparent;
    border-left: 1px solid #ccc;
  }
  #skills .col .fa-container {
    font-size: 5.5vw;
  }
  #skills .col .title {
    font-size: 2.5vw;
  }
  #skills .col p {
    font-size: 1.1vw;
  }
  #skills .col .tools {
    color: #007cae;
    font-size: 1.75vw;
  }
  #skills .col:first-child {
    border-left: none;
  }
}

.my-works {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}

.my-works h1 {
  font-size: 2rem;
}

.my-works-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 95%;
  margin: 0 auto;
}

.my-works-content .card {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  border-radius: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

.my-works-content .card * {
  border-radius: 1rem;
}

.my-works-content .card img {
  background-color: #0a0a0a;
  width: 100%;
  mix-blend-mode: multiply;
}

.my-works-content .card .card-content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #063446ec;
  color: #f3f3f3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: context-menu;
}

.my-works-content .card .card-content .centered {
  font-size: 1.2rem;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.my-works-content .card .card-content .btn-card {
  display: block;
  width: 75%;
  color: #f3f3f3;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: inherit;
  border: 4px solid #007cae;
  border-radius: 3rem;
  margin: 1rem auto 0;
  cursor: pointer;
}

.my-works-content .card .card-content .btn-card:hover {
  background-color: #007cae;
}

.my-works-content .card:hover .card-content {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .my-works {
    width: 50%;
    white-space: nowrap;
    margin: 0 auto 2.5rem;
  }
  .my-works h1 {
    color: #196a8a;
    font-family: "Rajdhani", Montserrat, Arial, Helvetica, sans-serif;
    font-size: 4rem;
  }
  .my-works-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 90%;
  }
  .my-works-content .card {
    margin: 0;
  }
}

/******************************* 
        Code pen
*******************************/
.codepen {
  width: 100%;
  text-align: center;
  margin: 5rem auto;
}

.codepen .btn-codepen {
  padding: 1rem 2rem;
  border: 3px solid #007cae;
  color: #196a8a;
  border-radius: 3rem;
  font-size: 6vw;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.codepen .btn-codepen:hover {
  background-color: #007cae;
  color: #f3f3f3;
}

footer {
  background-color: #196a8a;
  height: 65vh;
  text-align: center;
  color: #f3f3f3;
}

footer #contact {
  position: relative;
  top: -15vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #f3f3f3;
  background-color: #063446ec;
  border-radius: 1rem;
  height: 30vh;
}

footer #contact .btn-globe {
  background-color: inherit;
  color: #f3f3f3;
  width: 80%;
}

footer #contact .btn-globe:hover {
  background-color: #007cae;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -14vh;
  font-size: 1.5rem;
  line-height: 1.5;
}

footer .footer-bottom .logo .footer-logo {
  width: 100px;
}

footer .footer-bottom .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 1rem auto;
}

footer .footer-bottom .social-icons .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-bottom .social-icons .social-icon a {
  color: #222222;
}

footer .footer-bottom .social-icons div[class*="social-icon-"] i {
  color: #222222;
  position: relative;
  top: 1px;
}

footer .footer-bottom .social-icons div[class*="social-icon-"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .footer-bottom h5 {
  font-family: Arial;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  footer #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #contact * {
    margin-left: 1rem;
  }
  footer #contact h1 {
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
  footer #contact p {
    width: 35%;
    font-size: 1.3rem;
  }
  footer #contact .btn-globe {
    width: 20%;
    min-width: 2rem;
  }
  footer #contact .btn-globe:hover {
    background-color: #007cae;
  }
  footer .footer-bottom .social-icons .social-icon {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    margin-left: 1.5rem;
  }
}

/*********************************************** 
                Responsive Nav
***********************************************/
@media screen and (min-width: 768px) {
  /* button */
  .btn {
    padding: 0.5rem 1rem;
  }
  .btn-important {
    display: inline;
    padding: 0.5rem 0.8rem !important;
  }
  /* navigation bar */
  .nav_toggler {
    display: none;
  }
  .navbar_container {
    padding: 0 0.5rem;
    font-size: 1rem;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo img {
    position: relative;
    top: 2px;
    width: 35px;
  }
  .navbar nav .navbar_list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: auto;
    top: 0;
    background-color: inherit;
    max-height: inherit;
    overflow-y: initial;
  }
  .navbar nav .navbar_list a {
    color: #ddd9e2;
  }
  .navbar nav .navbar_list a:hover {
    color: #0a0a0a;
  }
  .navbar nav .navbar_list li a {
    padding: 0.75rem;
  }
  .navbar nav .navbar_list li:hover a {
    color: #ffffff;
  }
  .navbar nav .navbar_list li.active {
    background-color: #096b92;
  }
  .navbar nav .navbar_list li.active a {
    color: #ffffff;
  }
  /* dropdown */
  .dropdown {
    position: relative;
    overflow: initial;
    white-space: nowrap;
  }
  .dropdown .dropdown_list {
    position: absolute;
    margin-top: -10px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    left: -0.3rem;
    width: auto;
    min-width: 180px;
  }
  .dropdown .dropdown_list li:hover {
    background-color: #f8f9fa;
  }
  .dropdown .dropdown_list li:hover a {
    color: #0a0a0a;
  }
  .dropdown .show_dropdown {
    display: block;
    height: auto;
  }
  /* codepen */
  .codepen .btn-codepen {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */